.header{
    background: #343a40;
    border: none;
    font-size: large;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    margin-right: -5px;
    margin-left: -5px;
}

.sidePanel{
    background: #f8f9fa;

}
.forecast{
    background: #17a2b8;
    color: white;
    padding: 5px;
}
.card-title{
    font-size: 14px;
}
.card-text{
    font-size: 14px;
}
.historyButton{
    background: #17a2b8;
    margin: 3px;
}
.topText{
    margin: 5px;
}
.headIcon{
    background: #17a2b8;
}
.cityName{
    margin: 5px;
}